/* RESET RULES */

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

/* END OF RESET RULES */

/* BOOTSTRAP OVERRIDE RULES */

/* END OF BOOTSTRAP OVERRIDE RULES */

/*** STRUCTURE RULES */

.width-100 {
    width: 100%;
}

.title-div {
    height: 100vh;
    background-color: green;
}

.block {
    display: block;
}

.title-div {
    /* background-image: url("../../assets/img/headshot.jpg"); */
}

.intro-div {
    /* background-image: url("../../assets/img/headshot.jpg"); */
}

.portfolio-div {
    /* background-image: url("../../assets/img/headshot.jpg"); */
}

.skills-div {
    /* background-image: url("../../assets/img/headshot.jpg"); */
}

/****** FLEXBOX RULES */

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-dir-col {
    flex-direction: column;
}

.flex-dir-row {
    flex-direction: row;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-flex-end {
    justify-content: flex-end;
}

.flex-justify-around {
    justify-content: space-around
}

.flex-justify-between {
    justify-content: space-between;
}

.flex-align-center {
    align-items: center;
}

.flex-align-start {
    align-items: start;
}

/****** END OF FLEX RULES */

/*** END OF STRUCTURE RULES */

/* STYLING RULES */

/* .title-box {} */

.buffer {
    padding: .75rem;
}

.title-box h1 {
    /* PLAY WITH VH / VW HERE */
    font-size: 12vh;
}

.title-box span {
    /* PLAY WITH VH / VW HERE */
    font-size: 4vh;
}

.nameplate {
    padding: .7rem;
    letter-spacing: 1rem;
    background-color: #555555;
    color: #999999;
}

.section-heading {
    background-color: #664400;
    text-align: center;
    color: #ffffff;
    padding: 5rem;
}

.parallax {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
}

.box {
    padding: 1rem;
    margin: 1rem;
}

.glass-back {
    background-color: rgba(173, 216, 230, .5);
}

.profile-caption {
    /* flex-shrink: 1;
    flex-grow: 0; */
    flex-basis: 50%;
    padding: 3rem;
}

.profile-caption p {
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: .25rem;
}

.scroll-arrow {
    font-size: 5rem;
    color: #cccccc;
}

.headshot-div {
    flex-basis: 25%;
    min-width: 175px;
    max-width: 400px;
    /* flex-shrink: 0;
    flex-grow: 1; */
}

.full-width-pic {
    width: 100%;
}

.project-content {
    flex-basis: 20%;
    min-width: 250px;
}

.box-link {
    position: relative;
    text-decoration: none;
}

.caption-glass {
    display: none;
    background-color: rgba(0, 0, 0, .85);
    padding: 1.5rem;
    color: #ffffff;
}

.caption-glass h1, .caption-glass h3 {
    display: inline;
    border-bottom: 1px solid #ffffff;
}

.caption-glass p {
    margin-top: .75rem;
}

.box-link:hover div.caption-glass {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.skills-content {
    flex-basis: 10%;
    min-width: 150px;
}

.skills-bar{
    height: 1rem;
    width: 1%;
}

.footer-div {
    background-color: #000000;
    padding: 5rem;
}

.footer-content {
    flex-basis: 10%;
    min-width: 64px;
    font-size: 3rem;
    text-align: center;
}

.footer-content a {
    text-decoration: none;
    color: #ffffff;
}

/* END OF FORMATTING RULES */

/* TEMPORARY / TEST RULES */

.back {
    background-color: red;
}

/* END OF TEMPORARY / TEST RULES */