/* RESET RULES */

body {
    color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

/* END OF RESET RULES */

/* BOOTSTRAP OVERRIDE RULES */

.modal-open .modal, a:focus {
    outline: none;
}

button.close span {
    color: #ffffff;
    text-shadow: 0 0;
}

/* END OF BOOTSTRAP OVERRIDE RULES */

/* BOOTSTRAP MODAL RULES */

.project-modal {
    background-color: #000000;
    color: white;
    padding-bottom: 3rem;
}

.project-modal-title h1 {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 3rem;
}

.project-modal-entry {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}

.project-modal-entry-skills {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 3rem;
}

.project-modal-entry-projects {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}

.project-modal-entry .project-modal-thumb {
    flex-basis: 50%;
    min-width: 25px;
}

.project-modal-entry .project-modal-caption {
    flex-basis: 75%;
    min-width: 50px;
}

.project-modal-entry-skills .project-modal-skills {
    flex-basis: 25%;
    min-width: 50px;
}

.project-link {
    margin: .5rem;
    padding: .5rem;
    height: 3rem;
    background-color: #000000;
}

.project-link:hover {
    text-decoration: none;
}

.project-link i {
    padding: .5rem;
    font-size: 2rem;
    border-radius: 50%;
    background-color: #999999;
    color: #000000;
}

.project-link span {
    font-size: 1.75rem;
    color: #ffffff;
}

/* END OF BOOTSTRAP MODAL RULES */

/*** STRUCTURE RULES */

.width-75 {
    width: 75%;
}

.width-100 {
    width: 100%;
}

/* PLACEHOLDER MENU RULE */

/* .menu-div {
    display: flex;
    justify-content: flex-end;
} */

.title-div {
    height: 100vh;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title-div {
    background-image: url("../../assets/img/title-photo.jpeg");
}

.intro-div {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    background-image: url("../../assets/img/title-photo.jpeg");
}

.portfolio-div {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-image: url("../../assets/img/title-photo.jpeg");
}

.skills-div {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-image: url("../../assets/img/title-photo.jpeg");
}

/*** END OF STRUCTURE RULES */

/* STYLING RULES */

.title-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-box h1 {
    font-size: 6vw;
}

.title-box h6 {
    font-size: 2.75vw;
}

.title-name {
    margin: 1rem;
    letter-spacing: 1rem;
}

.title-sub {
    max-width: 75%;
    letter-spacing: .5rem;
}

.nameplate {
    padding: .7rem;
}

.section-heading {
    background-color: #555555;
    text-align: center;
    color: #88ffff;
    padding: 5rem;
}

.parallax {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box {
    padding: 1rem;
    margin: 1rem;
}

.glass-back {
    background-color: rgba(225, 225, 225, .75);
}

.profile-caption {
    flex-basis: 60%;
    padding: 3rem;
}

.profile-caption p {
    font-size: 1.75vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* letter-spacing: .25rem; */
}

@media screen and (max-width: 600px) {
    .profile-caption {
        flex-basis: 85%;
    }
    .profile-caption p {
        font-size: 3.5vw;
    }
}

@media screen and (min-width: 1600px) {
    .profile-caption {
        flex-basis: 45%;
    }
    .profile-caption p {
        font-size: 1.5vw;
    }
}

.scroll-arrow {
    font-size: 5rem;
    color: #cccccc;
}

.headshot-div {
    flex-basis: 25%;
    min-width: 175px;
    max-width: 400px;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.resume-link {
    margin: 0 1rem 1rem;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

.resume-link:hover {
    text-decoration: none;
    color: #88ffff;
}

.resume-link span {
    margin-right: 1rem;
}

.project-content {
    flex-basis: 20%;
    min-width: 250px;
}

.project-content .skill-box {
    flex-basis: 25%;
}

.project-content img {
    width: 100%;
}

.box-link {
    position: relative;
    text-decoration: none;
}

.box-link h1 {
    font-size: 2.6rem;
}

.box-link p {
    font-size: 1.25rem;
}

.caption-glass {
    display: none;
    background-color: rgba(225, 225, 225, .75);
    padding: 1.5rem;
    color: #000000;
}

.caption-glass h1, .caption-glass h3 {
    border-bottom: 1px solid #ffffff;
}

.caption-glass h3 {
    margin-top: .75rem;
    margin-bottom: .75rem;
}

.caption-glass p {
    width: 80%;
    margin: 1rem auto;
}

.project-skills-container {
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box-link:hover div.caption-glass {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.skills-content {
    flex-basis: 10%;
    min-width: 150px;
}

.skills-bar {
    height: 2rem;
    background-color: #bb4444;
}

.footer-div {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #555555;
    padding: 5rem;
}

.footer-content {
    flex-basis: 10%;
    min-width: 64px;
    font-size: 3rem;
    text-align: center;
}

.footer-content a {
    text-decoration: none;
    color: #000000;
}

/* END OF FORMATTING RULES */