/* RESET RULES */

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

/* END OF RESET RULES */

/* BOOTSTRAP OVERRIDE RULES */

/* END OF BOOTSTRAP OVERRIDE RULES */

/*** STRUCTURE RULES */

.width-100 {
    width: 100%;
}

.title-div {
    height: 100vh;
    background-color: green;
}

.title-div {
    /* background-image: url("../../assets/img/headshot.jpg"); */
}

.intro-div {
    /* background-image: url("../../assets/img/headshot.jpg"); */
}

.portfolio-div {
    /* background-image: url("../../assets/img/headshot.jpg"); */
}

.skills-div {
    /* background-image: url("../../assets/img/headshot.jpg"); */
}

/****** FLEXBOX RULES */

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-dir-col {
    flex-direction: column;
}

.flex-dir-row {
    flex-direction: row;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-flex-end {
    justify-content: flex-end;
}

.flex-justify-around {
    justify-content: space-around
}

.flex-justify-between {
    justify-content: space-between;
}

.flex-align-center {
    align-items: center;
}

.flex-align-start {
    align-items: start;
}

/****** END OF FLEX RULES */

/*** END OF STRUCTURE RULES */

/* STYLING RULES */

/* .title-box {} */

.buffer{
    padding: .75rem;
}

.title-box h1 {
    /* PLAY WITH VH / VW HERE */
    font-size: 12vh;
}

.title-box span {
    /* PLAY WITH VH / VW HERE */
    font-size: 4vh;
}

.nameplate {
    padding: 10px;
    letter-spacing: 1rem;
    background-color: #555555;
    color: #999999;
}

.section-heading {
    background-color: #664400;
    text-align: center;
    color: #ffffff;
    padding: 5rem;
}

.parallax {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
}

.box {
    padding: 1rem;
    margin: 1rem;
}

.glass-back {
    background-color: rgba(173, 216, 230, .5);
}

.profile-caption {
    /* flex-shrink: 1;
    flex-grow: 0; */
    flex-basis: 50%;
}

.profile-caption p {
    font-size: 1.75rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: .75rem;
}

.scroll-arrow {
    font-size: 5rem;
    color: #cccccc;
}

.headshot-div {
    flex-basis: 25%;
    min-width: 175px;
    max-width: 400px;
    /* flex-shrink: 0;
    flex-grow: 1; */
    /* background-color: yellow; */
}

.full-width-pic {
    width: 100%;
}

.project-content {
    flex-basis: 20%;
    min-width: 250px;
}

.caption-glass{
    display: none;
    height: 202.42px;
    background-color: black;
    z-index: -5;
}

.project-content:hover div.caption-glass{
    display: block;
}

.project-content:hover img{
    display: none;
}

.skills-content {
    flex-basis: 10%;
    min-width: 200px;
}

.footer-div {
    background-color: #000000;
    color: #ffffff;
    padding: 5rem;
}

.footer-content {
    font-size: 3rem;
}

/* END OF FORMATTING RULES */

/* TEMPORARY / TEST RULES */

.back {
    background-color: red;
}

/* END OF TEMPORARY / TEST RULES */